body {
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #000000;
    color: #f4f4f4;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

#parte_esquerda {
    max-width: 550px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin-top: -90px;
}

#parte_direita {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 50%;
    min-height: 100vh;
    margin-top: 20px;
}

#parte_direita h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 0px;
}

#parte_direita p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    color: #a1a1a1;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 5px solid #2ec2cd;
    border-bottom-right-radius: 8px;
}

form {
    width: 90%;
}

.upload-div {
    display: inline-block;
    padding: 20px 40px;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 96%;
    margin: auto;
    border: 1px solid #2EC3CD;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.upload-div img {
    width: 50px;
}

.upload-div:hover {
    opacity: 1;
    box-shadow: 0 4px 8px #2ec2cdb4;
    transition: 0.3s;
    /* background-color: #0056b3; */
}

input[type="file"] {
    display: none; /* Esconde o input */
}

#botao_env {
    justify-self: center;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao_env input {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    background-color: #2EC3CD;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    margin-top: 20px;
    height: 50px;
    padding: 0px 50px;
}

#botao_env input:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.form_group {
    width: 100%;
}

/* Estilizando a barra de rolagem (Webkit-based browsers como Chrome, Edge e Safari) */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    background: #1a1a1a; /* Fundo da barra em cinza-escuro */
}

/* Parte "deslizante" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #39b4c1, #2a8f97, #39b4c1); /* Gradiente suave */
    border-radius: 10px; /* Arredondamento */
    box-shadow: 0 0 5px #39b4c1, 0 0 10px #2a8f97; /* Brilho sutil */
}

/* Parte ao redor da barra de rolagem */
::-webkit-scrollbar-track {
    background: #1a1a1a; /* Fundo do track em cinza-escuro */
    border-radius: 10px; /* Arredondamento */
    box-shadow: inset 0 0 5px #2a8f97; /* Efeito de brilho interno sutil */
}

/* Animação para o efeito de "pulsar" */
@keyframes scroll-pulse {
    0% {
        box-shadow: 0 0 5px #39b4c1, 0 0 10px #2a8f97;
    }
    50% {
        box-shadow: 0 0 10px #39b4c1, 0 0 15px #2a8f97;
    }
    100% {
        box-shadow: 0 0 5px #39b4c1, 0 0 10px #2a8f97;
    }
}

/* Aplicando a animação na parte deslizante */
::-webkit-scrollbar-thumb {
    animation: scroll-pulse 3s infinite;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 20px;

}

.form-group label {
    margin-bottom: 10px;
}

.form-group select {
    width: 100%;
    height: 40px;
    background-color: #000;
    border: 1px solid #2ec2cd;
    border-radius: 8px;
    color: #f4f4f4;
}

.form-group input {
    width: 99%;
    height: 40px;
    background-color: #000;
    border: 1px solid #2ec2cd;
    border-radius: 8px;
    color: #f4f4f4;
}

#preco_previsto {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}