<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Configuração de codificação de caracteres -->
    <meta charset="UTF-8" />

    <!-- Importando a fonte Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Adicionando um favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/corrida.png') }}" type="image/png">

    <!-- Importando arquivos CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/analysis.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/footer.css') }}"
    />

    <!-- Título da página -->
    <title>Análise de Dados</title>
  </head>
  <body>
    <div class="container">
      <!-- Seção superior -->
      <div id="parte_cima">
        <!-- Divisão esquerda com gráficos -->
        <div id="parte_esquerda_cima">
          <h1>Análise de Dados</h1>

          <!-- Gráfico de barras para distribuição por marca -->
          <h2>Gráfico de Barras - Distribuição por Marca</h2>
          <div class="chart-container">
            <div class="expand-icon" onclick="toggleExpand('brand_chart')">⤢</div>
            <div class="campo_img" id="brand_chart_container">
              {{ brand_chart | safe }} <!-- Inserção do gráfico gerado pelo backend -->
            </div>
          </div>

          <!-- Gráfico de barras para distribuição por ano -->
          <h2>Gráfico de Barras - Distribuição por Ano</h2>
          <div class="chart-container">
            <div class="expand-icon" onclick="toggleExpand('year_chart')">⤢</div>
            <div class="campo_img" id="year_chart_container">
              {{ year_chart | safe }} <!-- Inserção do gráfico gerado pelo backend -->
            </div>
          </div>
        </div>
        <!-- Divisão direita com uma imagem -->
        <div id="parte_direita_cima">
          <img src="{{ url_for('static', filename='img/carroAnalise.jpg') }}" />
        </div>
      </div>
    </div>

    <!-- Divisor visual -->
    <div id="divisor"></div>

    <!-- Seção inferior -->
    <div id="parte_baixo">
      <!-- Divisão esquerda com outra imagem -->
      <div id="parte_esquerda">
        <img src="{{ url_for('static', filename='img/carroAnalise2.jpg') }}" />
      </div>

      <!-- Divisão direita com o formulário para treinamento do modelo -->
      <div id="parte_direita">
        <h1>Treinamento de Modelo</h1>
        <form method="POST">
          <!-- Campo oculto para proteção contra ataques CSRF -->
          {{ form.hidden_tag() }}

          <!-- Campo para selecionar o tipo de modelo -->
          <div class="form-group">
            <label for="model_type">{{ form.model_type.label.text }}</label>
            {{ form.model_type(class="form-control", id="model_type") }}
          </div>

          <!-- Campo para os parâmetros do modelo -->
          <div class="form-group">
            <label for="param">{{ form.param.label.text }}</label>
            {{ form.param(class="form-control", id="param") }}
            <small>
              Para Decision Tree, este é o 'max_depth'. Para Random Forest e
              Gradient Boosting, este é o 'n_estimators'.
            </small>
            <!-- Exibindo erros de validação -->
            {% for error in form.param.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- Botão para submeter o formulário -->
          <div class="form-group" id="botao_env">
            {{ form.submit(class="btn btn-success") }}
          </div>
        </form>

        <!-- Exibindo os resultados do modelo treinado -->
        {% if model_trained %}
        <h3>Resultados do Modelo</h3>
        <p>R²: {{ metrics['R2'] | round(4) }}</p>
        <p>MSE: {{ metrics['MSE'] | round(4) }}</p>
        <p>MAE: {{ metrics['MAE'] | round(4) }}</p>
        <p>
          Média R² (Validação Cruzada): {{ metrics['CV R2 Mean'] | round(4) }}
        </p>
        {% endif %}

        <!-- Link para página de previsão -->
        <a
          id="ir_previsao"
          href="{{ url_for('predict') }}"
          class="btn btn-primary"
          >Ir para Previsão
          <img
            src="{{ url_for('static', filename='img/grafico-preditivo.png') }}"
        /></a>
      </div>
    </div>

    <!-- Rodapé -->
    <footer>
      <p>Upload File</p>
      <p id="ativo" class="meio">Analysis</p>
      <p>Predict</p>
    </footer>
    <script>
      function toggleExpand(chartId) {
        const chartContainer = document.getElementById(chartId + '_container');
        if (chartContainer.classList.contains('expanded')) {
          chartContainer.classList.remove('expanded');
        } else {
          chartContainer.classList.add('expanded');
        }
      }
    </script>
  </body>
</html>
