<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Incluindo a Fonte Montserrat para estilização -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon que aparece na aba do navegador -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/corrida.png') }}"
      type="image/png"
    />

    <!-- Estilos customizados -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/predict.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/footer.css') }}"
    />
    <title>Predict</title>
  </head>
  <body>
    <div class="container">
      <!-- Parte esquerda com uma imagem -->
      <div id="parte_esquerda">
        <img src="{{ url_for('static', filename='img/predictCar.jpg') }}" />
      </div>

      <!-- Parte direita com o formulário de entrada -->
      <div id="parte_direita">
        <h1>Previsão de Preço de Venda</h1>

        <!-- Formulário para enviar os dados necessários para previsão -->
        <form method="POST">
          <!-- Campo oculto para proteger o formulário contra ataques CSRF -->
          {{ form.hidden_tag() }}

          <!-- Grupo de formulário para cada atributo -->
          <div class="form-group">
            {{ form.brand.label }}
            <!-- Label do campo 'Marca' -->
            {{ form.brand(class="form-control") }}
            <!-- Campo de entrada -->
          </div>

          <div class="form-group">
            {{ form.age.label }}
            <!-- Label do campo 'Idade do carro' -->
            {{ form.age(class="form-control") }}
            <!-- Campo de entrada -->
          </div>

          <div class="form-group">
            {{ form.km_driven.label }}
            <!-- Label do campo 'Quilometragem' -->
            {{ form.km_driven(class="form-control") }}
            <!-- Campo de entrada -->
          </div>

          <div class="form-group">
            {{ form.fuel.label }}
            <!-- Label do campo 'Tipo de combustível' -->
            {{ form.fuel(class="form-control") }}
            <!-- Campo de seleção -->
          </div>

          <div class="form-group">
            {{ form.transmission.label }}
            <!-- Label do campo 'Transmissão' -->
            {{ form.transmission(class="form-control") }}
            <!-- Campo de seleção -->
          </div>

          <div class="form-group">
            {{ form.seller_type.label }}
            <!-- Label do campo 'Tipo de vendedor' -->
            {{ form.seller_type(class="form-control") }}
            <!-- Campo de seleção -->
          </div>

          <div class="form-group">
            {{ form.owner.label }}
            <!-- Label do campo 'Quantidade de donos' -->
            {{ form.owner(class="form-control") }}
            <!-- Campo de entrada -->
          </div>

          <!-- Botão para submeter o formulário -->
          <div class="form-group" id="botao_env">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>

        <!-- Se a previsão existir, ela será exibida aqui -->
        {% if prediction %}
        <h2 id="preco_previsto">
          Preço Previsto: R$ {{ prediction | round(2) }}
        </h2>
        {% endif %}
      </div>
    </div>

    <!-- Rodapé com links para outras páginas -->
    <footer>
      <p>Upload File</p>
      <p class="meio">Analysis</p>
      <p id="ativo">Predict</p>
    </footer>
  </body>
</html>
